root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
max_line_length = 120
trim_trailing_whitespace = true

[schema.kdl]
max_line_length = 250

[SKILL.md]
max_line_length = 200

[AGENTS.md]
max_line_length = 300

[CLAUDE.md]
max_line_length = 300

# Markdown files can have flexible indentation for lists
[*.md]
indent_size = unset

[.cache.json]
end_of_line = unset
insert_final_newline = unset
